<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>View</th>
        <th>update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.getId()}"></td>
        <td th:text="${recipe.getDescription()}"></td>
        <td><a href="#" th:href="@{'/recipe/'+ ${recipe.id} +'/show' }">view</a></td>
        <td><a href="#" th:href="@{'/recipe/'+ ${recipe.id} +'/update' }">update</a></td>
        <td><a href="#" th:href="@{'/recipe/'+ ${recipe.id} +'/delete'}">delete</a> </td>
    </tr>
</table>
</body>
</html>